body{
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-size: 4rem;
    color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 5rem;
}
p{
    font-size: 4rem;
}
.container{
    width: 100%;
    height: 60vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.layout1{
    width: 100%;
    height: 60vh;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;
}
.heading{
    grid-column: span 3;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.work{
border: 2px solid white;
display: flex;
justify-content: center;
}
img{
    align-self: center;
    width: 200px;
    height: 200px;
}
.contact{
    width: 100%;
    height: 30vh;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.footer{
    text-align: center;
}

@media (max-width: 1000px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
    .layout{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .layout1 {
        width: 100%;
        height: auto; 
        /* border: 2px solid black; */
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; /
    }
    .heading {
        grid-column: 1;
        margin-top: 10px;
    }
    .work {
        border: 2px solid white;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center;
    }
    .work > img {
        width: 150px;
        height: 150px; 
    }
}
